<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
        

<h2>Moro Emilia!</h2>
            <%= link_to 'Täällä pääset kirjoittamaan blogin merkeissä kuulumisia', controller: 'articles' %>
            
            
        </div>
        <div class="col-xs-9">