<div id="main-container" class="container">
  <div class="row">

    <div class="col-xs-8">
      <h2>Tervetuloa vierailija!</h2>
      <p>
        Tervetuloa Klausin rakennustyömaalle. Tästä rakentuu jatkossa lisäosa Klausin Linkedinille, joka osoittaa hiukan
        teknistä osaamista.
        Tämä on toteutettu
        <a href="http://iislab.ee.tut.fi/piiri/groups/ohjelmallinen-sis%C3%A4ll%C3%B6nhallinta-2016"> ohjelmallisen
          sisällön
          hallinnan</a> kurssia varten.
      <p>
        <b> Pääset selailemaan blogipäivityksiä vain luomalla tunnukset/kirjautumalla sisään.</b>
      <p>


        <canvas id="myCanvas" width="500" height="100" style="border:1px solid #d3d3d3;">
          Your browser does not support the HTML5 canvas tag.
        </canvas>

        <script>
          var c = document.getElementById("myCanvas");
          var ctx = c.getContext("2d");
          ctx.font = "20px Arial";
          ctx.fillText("Sivuilta löytyvät seuraavat ominaisuudet", 10, 50);
        </script>
      <p>
        - sisäänkirjautuminen
      <p>
        - blogi päivitykset (CRUD-ominaisuuksilla)
      <p>
      <p>
        </canvas>

      <p>

        Voit luoda tunnukset mielivaltaisesti. En pysty takaamaan tunnuksien tietoturvallista käsittelyä...
      <p>
        Esim:
      <p>Name: markus </p>
      <p>Email: markus
      <p>Password: markus</p>
      </p>

      <!-- joopa joo. tuskin toimii -->
      <h1>Linkedin Application</h1>
      <a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a>
      <%= @nimi %>

    </div>

    <div class="col-xs-4">

      <h3>Klaus twitterissä, to be changed</h3>
      <a class="twitter-timeline" href="https://twitter.com/OP_Ryhma" data-widget-id="718728891490254848">Tweets by
        @OP_Ryhma</a>
      <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + "://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      }(document, "script", "twitter-wjs");</script>


    </div>


    </body>